.productList {
	padding: 10px;
}
.card-img-bg {
	background-color: #9e9e9e30;
}
.addProduct {
	position: fixed;
    bottom: 20px;
    right: 10px;
    z-index: 9;
    font-size: 14px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 8px;
    border-radius: 4px;
}